@using CheckBoardGameVersion3.Data.Logic.Validate
@using CheckBoardGameVersion3.Data.RepositoryBoard;
<h3>CheckBoard</h3>

<div style="text-align:center">Бот @_boardInformation.CountBlack : @_boardInformation.CountWhite  Игрок</div>
<div class="box" style="display:flex; justify-content:space-around">

    <div class="chessboard">
        @for (var i = 0; i < 8; i++)
        {
            int local_I = i;
            var nameMarkup = Markup.MarkupName[local_I];

            <div class="row">
                @for (var j = 0; j < 8; j++)
                {
                    int local_J = j;
                    var numberMakup = Markup.MarkupNumber[local_J];
                    string idCell = nameMarkup + numberMakup;
                    var cell = _repositoryBoard.GetCell(idCell);
                    bool CanMove = Board[idCell].CanMove;
                    bool canBeat = Board[idCell].CanAttack;
                    bool clickChecker = Board[idCell].ClickChecker;
                    bool lockChecker = Board[idCell].LockChecker;

                    <div @onclick="()=>Board =MoveAndBeatChecker( Board,cell)" class="cell @(CanMove ?"active":"") @(canBeat ? "beat":"")">

                        @if (cell.Checker != null)
                        {
                            <div @onclick="()=>Board =MoveAnalise(Board,cell)" class="checker @(cell.Checker.Color) @(clickChecker ?"active":"") @(lockChecker ?"lock":"") "></div>
                        }

                    </div>
                }
            </div>
        }
    </div>

</div>
<div style="text-align:center">
    <div>Сейчас Ход : @TeamCheckers.Team </div>
    <div>Количество черных шашек : @_boardInformation.AmountBlackCheckers(Board) </div>
    <div>Количество белых шашек : @_boardInformation.AmountWhiteCheckers(Board)</div>
    <div>Количество черных дамок шашек :@_boardInformation.AmountBlackQueenCheckers(Board)</div>
    <div>Количество белых дамок шашек :@_boardInformation.AmountWhiteQueenCheckers(Board)</div>
</div>

