@using CheckBoardGameVersion3.Data.Logic.Validate
@using CheckBoardGameVersion3.Data.Models
@using CheckBoardGameVersion3.Data.RepositoryBoard;
@inject IJSRuntime JSRuntime
<h3>CheckBoard</h3>
@page "/CheckerBoard/{player}"
<div style="text-align:center">Bot @_boardInformation.CountBlack : @_boardInformation.CountWhite  Player</div>
<div class="box" style="display:flex; justify-content:space-around">

    <div class="chessboard">
        @for (var i = 0; i < 8; i++)
        {
            int local_I = i;
            var nameMarkup = Markup.MarkupName[local_I];

            <div class="row">
                @for (var j = 0; j < 8; j++)
                {
                    int local_J = j;
                    var numberMakup = Markup.MarkupNumber[local_J];

                    string idCell = nameMarkup + numberMakup;
                    var cell = _repositoryBoard.GetCell(idCell, Board);

                    bool CanMove = Board[idCell].CanMove;
                    bool canBeat = Board[idCell].CanAttack;
                    bool clickChecker = Board[idCell].ClickChecker;
                    bool lockChecker = Board[idCell].LockChecker;

                    <div @onclick="()=>Board =MoveAndBeatChecker( Board,cell)" class="cell @(CanMove ?"active":"") @(canBeat ? "beat":"")">

                        @if (cell.Checker != null)
                        {
                            <div @onclick="()=>Board =MoveAnalise(Board,cell)" class="checker @(cell.Checker.Color) @(clickChecker ?"active":"") @(lockChecker ?"lock":"") "></div>
                        }

                    </div>
                }
            </div>
        }
    </div>

</div>
<div style="text-align:center">
    <div>Player Move : @TeamCheckers.Team </div>
    <div>Amount black checkers : @_boardInformation.AmountBlackCheckers(Board) </div>
    <div>Amount white checkers : @_boardInformation.AmountWhiteCheckers(Board)</div>
    <div>Amount black Queen :@_boardInformation.AmountBlackQueenCheckers(Board)</div>
    <div>Amount white Queen :@_boardInformation.AmountWhiteQueenCheckers(Board)</div>
</div>
<button class="btn btn-secondary" @onclick="Delete">Delete Сurrent game</button>

@code {
    [Parameter]
    public string player { get; set; }

}